.header{
    display:flex;
    position: relative;
}
.photo{
    position: absolute;
    height: 25px;
    width: 75px;
}
.nav-list {
    position: absolute;
    right:0;
    text-align: right;
}
.nav-item {
    display: inline;
}



.main{
    position:relative;
    top: 80px;
    left: 0;
    }

.font{
    position: absolute;
    margin-top: 75px;
    text-align:center;
    color: brown;
    font-family: 'Indie Flower', cursive;
}
.color{
    color: blue;
}
.color2{
    position:absolute;
    left:25vw;
    color: brown;
}
.photo2{
    position:absolute;
    width: 60vw;
    right: 0;
}

.main2{
    position:relative;
    top:560px;
    }
.common{
    position:absolute;
    }
.text2{
    position:absolute;
    color:blue;
    }

.news{
    text-align:center;

}

.main3{
    position:relative;
    top: 1200px;
}
.common2{
    position:absolute;
}
.text3{
    position:absolute;
}
.text4{
    position:absolute;
}
.photo3{
    position:absolute;
    height: auto;
    width: 25vw;
}

.main4{
    position:relative;
    top:1760px;
}
.box{
    position:absolute;
}
.box2{
    position:absolute;
}
.box3{
    position:absolute;
}

.main5{
    position:relative;
    top:2320px;
}
.common3{
    position:absolute;
}
.text5{
    position:absolute;
}
.item{
    position:absolute;
    display: flex;
    justify-content: center;
}
.item1{
    margin-right: 20px;
    width: 20vw;
}
.bottom{
    position:absolute;
}

.main6{
    position:relative;
    top:2880px;
}
.common4{
    position:absolute;
}
.text6{
    position:absolute;
}
.list{
    position:absolute;
}

.main7{
    position:relative;
    top:3440px;
}
.photo6{
    position:absolute;
}
.photo7{
    position:absolute;
}
.text7{
    position:absolute;
}
.buttom2{
    position:absolute;
}
